@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #F2F7FF;
}

.flex-container {
	display: flex;
	width: 75%;
	font-family: 'Roboto', sans-serif;
	margin: 20px auto;
	background-color: white;
	border-radius: 15px;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

header {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: space-between;
	background-color: #293241;
	color: #EE6C4D;
	padding: .8em;
	text-align: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

h2 {
	text-align: center;
}

table {
	background-color: #F2F7FF;
	width: 70%;
	margin: 5% auto;
	border: 1px solid black;
	border-collapse: collapse;
}

tr, td, th {
	border: 1px solid black;
}

tr:nth-child(even){
	background-color: #98C1D9;
}

tr:first-Child{
	color:#F2F7FF;
	background-color: #3D5A80;
}


/* Column container. */
.row {
	display: flex;
}

/* The following are the colored boxes "callouts" at the bottom of the page before the footer. Add display:flex to the container, then justify-content. Experiment with different values to see the effects. */
.calloutcontainer {
	max-width: 75%;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
}

.callout {
	padding: 10px;
	flex-basis: 40%;
}

/* The pseudo-class nth child allows us to give different styling to each div in the callout class. In this case we gave each one a different background color. */
.callout:nth-child(odd) {
	background-color: #EE6C4D;
}

.callout:nth-child(even) {
	background-color: #3D5A80;
}