<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Customer View</title>
<link type="text/css" rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="flex-container">
<header>
<h1>This is the Customer View</h1>
</header>
<div class="calloutcontainer">
<div class="callout">
<p><a href="input">Add My Info </a></p>
</div>
<div class="callout">
<p><a href="flightList">View Flights</a></p>
</div>
<div class="callout">
<p><a href="reservation">View My Reservation</a></p>
</div>
<div class="callout">
<p><a href="/index.html">Return to Home</a><br /></p>
</div>
</div>
</div>
</body>
</html>