<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View All Customer</title>
<link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div class="flex-container">
<header>
<h1>List of Customers</h1>
</header>
<form>
<table>
	<tr>
		<th>Customer Number</th>
		<th>First Name</th>
		<th>Last Name</th>
	</tr>
	<tr th:each="currentCus: ${customers}">
	<td th:text="${currentCus.id}" />
	<td th:text="${currentCus.firstName}" />
	<td th:text="${currentCus.lastName}" />
	<td><a th:href="@{/deleteCustomer/{id}(id=${currentCus.id})}">Delete</a></td>
	<td><a th:href="@{/edit/{id}(id=${currentCus.id})}">Edit</a></td>
	</tr>
</table>
</form>
<div class="calloutcontainer">
<div class="callout">
<p><a href="/input">Add a new customer</a></p>
</div>
<div class="callout">
<p><a href="/employee">Return to Employee Home Page</a><br /></p>
</div>
</div>
</div>	
</body>
</html>