<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee View</title>
<link type="text/css" rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class="flex-container">
		<header>
			<h1>This is the Employee View</h1>
		</header>
		<h2>Choose an option below</h2>
		<br>
		<div class="calloutcontainer">
			<div class="callout">
				<a href="flightList">View All Flights</a><br />
			</div>
			<div class="callout">
				<a href="inputFlight">Add a new flight</a>
			</div>
			<div class="callout">
				<a href="reservation">View All reservation</a>
			</div>
			<div class="callout">
				<a href="customerList">View All Customer (You can also add new customer)</a>
			</div>
			<div class="callout">
				<a href="/index.html">Return to Home</a><br />
			</div>
		</div>
	</div>
</body>
</html>