<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Flight List</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="flex-container">
<header>
<h1>List of Flights</h1>
</header>
<form>
<table>
<tr>
<th>Id</th>
<th>Departing City</th>
<th>Destination City</th>
<th>Capacity</th>
<th>Seat Cost</th>
<tr th:each="currentFlight : ${flights}">
<td th:text="${currentFlight.id}"/>
<td th:text="${currentFlight.departCity}"/>
<td th:text="${currentFlight.destinCity}"/>
<td th:text="${currentFlight.capacity}"/>
<td th:text="${#numbers.formatCurrency(currentFlight.seatCostAmt)}" />
</tr>
</table>
</form>
<div class="calloutcontainer">
<div class="callout">
<p><a href="/input">Make a Reservation</a></p>
</div>
<div class="callout">
<p><a href="/employee">Return to Employee Home Page</a><br /></p>
</div>
</div>
</div>
</body>
</html>