<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New or Edit Reservation</title>
</head>
<body>
	<form>
		<table>
			<tr th:each="currentCus: ${customers}">
				<td><input type="radio" name="cusId" value="${currentCus.id}"></td>
				<td th:text="${currentCus.firstName}" />
				<td th:text="${currentCus.lastName}" />
			</tr>
		</table>
	</form>

	<form>
		<table>
			<tr th:each="currentFlight : ${flights}">
				<td><input type="radio" name="flightId" value="${currentFlight.id}"></td>
				<td th:text="${currentFlight.departCity}" />
				<td th:text="${currentFlight.destinCity}" />
				<td th:text="${currentFlight.capacity}" />
				<td th:text="${currentFlight.seatCostAmt}" />
			</tr>
		</table>
	</form>

	<a
		href="/inputReservation/customer/{cusId}/flight/{flightId}">Create Reservation</a>

	<div class="callout">
		<p>
			<a href="/index.html">Return to Home</a><br />
		</p>
	</div>



</body>
</html>