<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Input View</title>
<link rel="stylesheet" href="./css/style.css">
<script type = "text/javascript">

          function validate() {
      
         if( document.myForm.firstName.value == "" ) {
            alert( "Please provide your First Name." );
            document.myForm.firstName.focus() ;
            return false;
         }
         if( document.myForm.lastName.value == "" ) {
            alert( "Please provide your Last Name." );
            document.myForm.lastName.focus() ;
            return false;
         }         
         return( true );
      }
      </script>
</head>
<body>
<div class="flex-container">
<header>
<h1>This is where customers will enter their information to make a reservation.</h1>
</header>
<p>When input is submitted, redirect customer to customer list.</p>
<!--  Added JavaScript for input validation -->
<form name="myForm" onsubmit="return(validate());" th:object="${newCustomer}" th:action="@{/update/{id}(id=${newCustomer.id})}" method=POST>
<p>First Name: <input name="firstName" size="20" th:field="*{firstName}"><br /></p>
<p>Last Name: <input name="lastName" size="20" th:field="*{lastName}"><br /></p>
<p><input name="Submit" type="submit" value="submit" /></p>
</form>
<div class="calloutcontainer">
<div class="callout">
<p><a href="/index.html">Return to Home</a><br /></p>
</div>
</div>
</div>
</body>
</html>