<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
>
<head>
<meta charset="UTF-8">
<title>View All Reservations</title>
<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<div class="flex-container">
		<header>
			<h1>List of Reservations</h1>
		</header>
		<form>
			<table>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Departing City</th>
					<th>Destination City</th>
					<th>Seat</th>
					<th></th>
					<th></th>
				</tr>
				<tr th:each="currentCRS: ${reservations}">
					<td th:text="${currentCRS.customer.firstName}" />
					<td th:text="${currentCRS.customer.lastName}" />
					<td th:text="${currentCRS.flight.departCity}" />
					<td th:text="${currentCRS.flight.destinCity}" />
					<td th:text="${currentCRS.seatIdentifierText}" />
					<td><a th:href="@{/editReservation/{id}(id=${currentCRS.id})}">Edit</a></td>
					<td><a th:href="@{/deleteReservation/{id}(id=${currentCRS.id})}">Delete</a></td>
				</tr>
			</table>
		</form>
		<div class="calloutcontainer">
			<div class="callout">
				<p>
					<a href="/inputRes">Add a new reservation</a>
				</p>
			</div>

			<div class="callout">
				<p>
					<a href="/customerReservation/export/pdf">Export to PDF</a>
				</p>
			</div>

			<div class="callout">
				<p>
					<a href="customer">Return to Customer Page</a><br />
				</p>
			</div>
		</div>
	</div>
</body>
</html>